// fontes
$fonte-principal: Roboto, sans-serif;

// cores
$background-color:  #f5f6fa;
$header-background: #182C61;
$text-color: #fff;
$button-background: #44bd32;
$button-hover-background: #4cd137;