* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    margin: 8px;
    padding: 8px;
}

form {
    margin: 8px;
}

form input,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}