@use 'config/reset';
@use 'config/variaveis' as *;
@use 'secoes/produtos';
@use 'config/mobile';

body {
    background-color: $background-color;
}

li {
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: $header-background;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }

    .menu {
        display: flex;

        li {
            font-weight: bold;
            margin-left: 24px;

            a {
                color: $text-color;
                text-decoration: none;
            }
        }
    }
}

section {
    padding: 56px 0;
}